* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}

img {
    height: 100px;
    width: 100px;
    background-size: cover;
}

.allproducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-between;
    border-radius: 4px;
    row-gap: 70px;
}



.card {
    margin-top: 90px;
}

.btnp {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40;
}

.total {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40;
    margin-top: 40px;
}

.ptext {
    color: rgb(114, 148, 250);
    text-transform: capitalize;
    font-size: 19px;
}

.container {
    width: 80%;
    margin: auto;
}